footer
    img(src='img/footer-logo.png')
    h4 Association loi 1901 soutenue par 
    ul.list-unstyled.list-inline.list-partenaires
        li
            img(src='img/partenaires/le-phares.png')
        li
            img(src='img/partenaires/plaine-commune.png')
        li
            img(src='img/partenaires/adie.jpg')
        li
            img(src='img/partenaires/miel.jpeg')
