footer
  .container
    #contact
      .row
        .col-lg-12
          h3 Nous sommes ouverts à tout type de partenariat, contactez nous via :
        .col-lg-12
          ul.list-inline.banner-social-buttons
            li
              a.footer-btn(href='mailto:contact@marchambul.com?Subject=Bonjour%20Marchambul')
                i.fa.fa-envelope.fa-fw
                span.network-name Email
            li
              a.footer-btn(href='https://www.facebook.com/marchambul')
                i.fa.fa-facebook.fa-fw
                span.network-name Facebook
            li
              a.footer-btn(href='https://twitter.com/marchambul')
                i.fa.fa-twitter.fa-fw
                span.network-name twitter
