#intro-container
    #intro-message
        h2 Pas de marché près de chez vous ? <br> Profitez de la prochaine tournée de Marchambul
        
        button#intro-button(ng-click="goToMapView()" href='#concept') 
            span Ca se passe où ?
            span.angle-icon
                i.fa.fa-angle-down
