.pre-header
.intro-header
    .intro-container
        h1 Commdddd d&eacute;mocratiser la consommation de produits locaux ?
        img(src='img/marchambul.png')
        hr.intro-divider.pre-slogan
        h3.slogan le march&eacute; ambulant qui se faufile partout
        
        a.button.btn-default.btn-lg.link-href(href='#concept') Ca se passe où?
