#intro-container
    #intro-message
        h2 Pas de marché près de chez vous ? <br> Profitez de la prochaine tournée de Marchambul !
        
        button.intro-button(ng-click="scrollTo('#rounds')" href='#rounds') 
            span où ca ?
            span.angle-icon
                i.fa.fa-angle-down
                
        button.intro-button(ng-click="scrollTo('#contact')" href='#contact') 
            span je le veux chez moi
            span.angle-icon
                i.fa.fa-angle-down
