nav.navbar.navbar-default(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
            
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#')
        img(src='img/marchambul.png')
        h1.slogan.hide-for-small-device le réseau de marchés ambulants sur triporteur
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
        .nav.navbar-nav.navbar-right
            a.navbar-button(ng-click="scrollTo('#contact')" href='#contact')  contact
        
        
    //- #bs-example-navbar-collapse-1.collapse.navbar-collapse
    //-   ul.nav.navbar-nav.navbar-right
    //-     //- li
    //-     //-   a.navbar-button(download='plaquette_marchambul.pdf', href='plaquette marchambu-v4.pdf') T&eacute;l&eacute;charger la plaquette de pr&eacute;sentation
    //-     li
    //-       a.navbar-button.active(ui-sref='home')  Tournées
    //-     li
    //-       a.navbar-button(href='#contact') Producteurs
    //-     li
    //-       a.navbar-button(href='#contact') Vendeurs
    //-     li(ui-sref='account')
    //-       a.navbar-button(ui-sref='account') Mon compte
