#vendeur.container

  .profile-panel.row
    .col-md-6.margin-top
      .media
        .media-left.media-middle
          img.profile-img.img-circle(src="img/producteurs/jardins-hippolyte.jpg")
        .media-body
          h3.media-heading.name-vendeur Les jardins d'hippolyte
          p Producteur Maraîcher depuis plus de 30 ans, notre entreprise familiale produit et vend toute l'année fruits et légumes de saison.
    .col-md-6.no-padding
      producteur  
        
  .row
    .col-md-6.bio-panel
      .panel
        .panel-heading
          i.fa.fa-2x.fa-search
          h3.margin-left.inline A propos
        .panel-body
          p Salades, tomates, fraises, ainsi que toutes nos autres variétés de légumes sont produites depuis notre exploitation de Seine et Marne (77 - Ile de France) et fraîchement récoltés à bonne maturité.
          | C'est un gage de qualité et de fraîcheur dont vous fait profiter votre maraîcher: le maximum des valeurs nutritives et gustatives de tous vos légumes.
          br
          br
          | Forts de notre longue expérience de producteur maraîcher, nous pratiquons l'agriculture de manière raisonnée en production intégrée…… Késako ?!?!
          | C’est produire des légumes en utilisant un mode de production tenant compte de l’environnement, de la santé et du bien-être animal.
          br
          br
          | Et oui, votre maraîcher fait attention à ses légumes et à la nature
          
      
    .col-md-6.no-padding
      .panel
        .panel-heading
          img.margin-bottom(src="img/marchambul-icon.png")
          h3.margin-left.inline Les tournées associées
        .panel-body
          ul.list-tournees
            li 
              .col-md-5.no-padding
                span Tournée à l'île-Saint-Denis
              .col-md-4.no-padding
                i.fa.fa-calendar-o
                  span.icon-label 05 juillet 2015
                i.fa.fa-clock-o
                  span.icon-label 15h-18h
              .col-md-3.no-padding
                button.btn.btn-default.button-table.pull-right(type="button")
                  i.fa.fa-eye.fa-fw
                  span &nbsp;voir détails
                  
            li 
              .col-md-5.no-padding
                span J'ambule dans le 18ème
              .col-md-4.no-padding
                i.fa.fa-calendar-o
                  span.icon-label 08 juillet 2015
                i.fa.fa-clock-o
                  span.icon-label 10h-15h
              .col-md-3.no-padding
                button.btn.btn-default.button-table.pull-right(type="button")
                  i.fa.fa-eye.fa-fw
                  span &nbsp;voir détails
                  
            li 
              .col-md-5.no-padding
                span Retrouvez moi à Saint-Ouen
              .col-md-4.no-padding
                i.fa.fa-calendar-o
                  span.icon-label 10 juillet 2015
                i.fa.fa-clock-o
                  span.icon-label 9h-17h
              .col-md-3.no-padding
                button.btn.btn-default.button-table.pull-right(type="button")
                  i.fa.fa-eye.fa-fw
                  span &nbsp;voir détails
                  
  .row.panel
    .panel-heading
      i.fa.fa-2x.fa-leaf
      h3.margin-left.inline  Production
    .panel-body
      .col-xs-2.center
        img.center.fruits-icon(src="img/producteurs/tomate.png")
        h5.bold tomates
      .col-xs-2.center
        img.fruits-icon(src="img/producteurs/carotte.png")
        h5.bold carottes
      .col-xs-2.center
        img.fruits-icon(src="img/producteurs/fraise.png")
        h5.bold fraises
      .col-xs-2.center
        img.fruits-icon(src="img/producteurs/salade.png")
        h5.bold salades
      .col-xs-2.center
        img.fruits-icon(src="img/producteurs/aubergine.png")
        h5.bold.center aubergines
      .col-xs-2.center
        img.fruits-icon(src="img/producteurs/poivron.png")
        h5.bold poivrons
          
        
            
      
      
    
  .row.panel
    .panel-heading
      i.fa.fa-2x.fa-picture-o
      h3.margin-left.inline  Photos
    .panel-body
      .col-xs-2
        a.thumbnail
          img(src="img/producteurs/gallery/photo_1.jpg")
      .col-xs-2
        a.thumbnail
          img(src="img/producteurs/gallery/photo_2.jpg")
      .col-xs-2
        a.thumbnail
          img(src="img/producteurs/gallery/photo_3.jpg")
      .col-xs-2
        a.thumbnail
          img(src="img/producteurs/gallery/photo_4.jpg")
      .col-xs-2
        a.thumbnail
          img(src="img/producteurs/gallery/photo_5.jpg")
      .col-xs-2
        a.thumbnail
          img(src="img/producteurs/gallery/photo_6.jpg")
      
