#vendeur.container

  .profile-panel
    .media
      .media-left.media-middle
        img.profile-img.img-circle(src="img/vendeurs/yann.jpg")
      .media-body
        .col-md-8.margin-top
          h3.media-heading.name-vendeur Yann  le marchand de rêve
          p "votre vendeur préferé prêt à tout pour vous rendre service"
        .col-md-4
          .row.margin-bottom
            button.btn.btn-default(type="button")
              i.fa.fa-envelope-o.fa-fw
              span &nbsp;Contacter Yann
          .row
            button.btn.btn-default(type="button")
              i.fa.fa-shopping-cart.fa-fw
              span &nbsp;Commander des fruits / légumes à Yann
        
  .row
    .col-md-6.bio-panel
      .panel
        .panel-heading
          i.fa.fa-2x.fa-search
          h3.margin-left.inline A propos
        .panel-body
          p Bonjour, je suis Yann, votre artisan en fruits et légumes.
          | Je vous vends des fruits et légumes en vracs mais vous propose aussi une large gamme de panier déjà préparés type "panier ratatouille 2 personnes" 
          | ou "panier salade 1 personne" : pas besoin de se casser la tête pour savoir quoi cuisiner!
          br
          | Je suis un passionné de fruits et légumes frais mais aussi de cuisine, venez me rencontrer pour en discuter et échanger autours de vos recettes de saison préferées.
          br
          br
          | A bientôt sur la route!
          
      
    .col-md-6.no-padding
      .panel
        .panel-heading
          img.margin-bottom(src="img/marchambul-icon.png")
          h3.margin-left.inline Ses tournées
        .panel-body
          ul.list-tournees
            li 
              .col-md-5.no-padding
                span Tournée à l'île-Saint-Denis
              .col-md-4.no-padding
                i.fa.fa-calendar-o
                  span.icon-label 05 juillet 2015
                i.fa.fa-clock-o
                  span.icon-label 15h-18h
              .col-md-3.no-padding
                button.btn.btn-default.button-table.pull-right(type="button")
                  i.fa.fa-eye.fa-fw
                  span &nbsp;voir détails
                  
            li 
              .col-md-5.no-padding
                span J'ambule dans le 18ème
              .col-md-4.no-padding
                i.fa.fa-calendar-o
                  span.icon-label 08 juillet 2015
                i.fa.fa-clock-o
                  span.icon-label 10h-15h
              .col-md-3.no-padding
                button.btn.btn-default.button-table.pull-right(type="button")
                  i.fa.fa-eye.fa-fw
                  span &nbsp;voir détails
                  
            li 
              .col-md-5.no-padding
                span Retrouvez moi à Saint-Ouen
              .col-md-4.no-padding
                i.fa.fa-calendar-o
                  span.icon-label 10 juillet 2015
                i.fa.fa-clock-o
                  span.icon-label 9h-17h
              .col-md-3.no-padding
                button.btn.btn-default.button-table.pull-right(type="button")
                  i.fa.fa-eye.fa-fw
                  span &nbsp;voir détails
                  
  .row.panel
    .panel-heading
      i.fa.fa-2x.fa-thumbs-o-up
      h3.margin-left.inline  Avis
    .panel-body
      .col-xs-3
        .media
          .media-left
            img.review-img.img-circle(src="img/vendeurs/review/cyril.jpg")
            h5.bold.center Cyril
          .media-body
            p.margin-top.italic "Yann est super sympatique et ses fruits et légumes sont toujours de qualité"
            
      .col-xs-3.col-xs-offset-1
        .media
          .media-left
            img.review-img.img-circle(src="img/vendeurs/review/alesc.jpg")
            h5.bold.center Alexandre
          .media-body
            p.margin-top.italic "J'étais bien content de te retrouver la semaine dernière pour compléter ma salade, merci Yann !"
            
            
      .col-xs-3.col-xs-offset-1
        .media
          .media-left
            img.review-img.img-circle(src="img/vendeurs/review/yann.jpg")
            h5.bold.center Ptit Louis
          .media-body
            p.margin-top.italic "Avec mes parents nous achetons toujours nos fruits et légumes depuis la charette de Yann"
            
      
      
    
  .row.panel
    .panel-heading
      i.fa.fa-2x.fa-picture-o
      h3.margin-left.inline  Medias / Photos
    .panel-body
      .col-xs-2
        a.thumbnail
          img(src="img/vendeurs/gallery/photo_0.jpg")
      .col-xs-2
        a.thumbnail
          img(src="img/vendeurs/gallery/photo_1.jpg")
      .col-xs-2
        a.thumbnail
          img(src="img/vendeurs/gallery/infos-jardin-hipollyte.jpg")
      .col-xs-2
        a.thumbnail
          img(src="img/vendeurs/gallery/photo_2.jpg")
      .col-xs-2
        a.thumbnail
          img(src="img/vendeurs/gallery/photo_3.jpg")
      .col-xs-2
        a.thumbnail
          img(src="img/vendeurs/gallery/photo_4.jpg")
      
