.container.fini
    h4.text-center
        img.marchambul-logo(src='img/icon.svg') 
        | Marchambul prend une pause 
    
    p Le marché ambulant "Marchambul" s'arrête provisoirement sur Rennes.
    br

    p Ce projet a été permis grâce à l'association Marchambul, qui a pour objectif de promouvoir les circuits courts à vélo et la consommation de produits locaux de saison via les marchés ambulants.
        | Nous avons mené l'expérience dans plusieurs lieux de Rennes, notamment :
        ul
            li devant la Boulangerie du coin (quartier Sainte-Thérèse) le samedi matin
            li Sur le parvis de la gare le dimanche après-midi
            li Dans le quartier de la Courrouze le mercredi après-midi
    br
    p Nous suspendons momentanément l'activité suite à des problèmes de logistique et de disponibilité de vendeur, mais <span class="highlight">nous sommes ouvert à tout repreneur qui voudrait continuer l'expérimentation à Rennes et essayer de développer l'activité de façon pérenne.</span> 
    br
    p Pour toute question/suggestion/message, n'hésitez pas à nous joindre à <span class="highlight">contact@marchambul.com</span>, nous serons heureux d'échanger avec vous.
    br
    p L'équipe Marchambul (Cyril, Alex et Yann) 
    br
    br
    br
