section#rounds.container(ng-controller="MapCtrl as vm")
    .intro
        h2 Le réseau
        h3 Marchambul se met en place lentement mais surement. Rendez-vous sur le site dedié à votre ville pour avoir plus de détail sur les lieux et les tournées.
    .row
        .col-md-5
            h3.section-title.center 
                i.fa.fa-globe
                span.margin-left Les villes partenaires 
                a.partnership-link(ng-click="scrollTo('#contact')" href='#contact')  (devenir partenaire)
            #map
        .col-md-7
            #round-list
                h3.section-title.center 
                    i.fa.fa-calendar
                    span.margin-left Les prochaines tournées
        
                ul.list-rounds
                    li.round-item
                        p A partir de fin Mars je vous propose des légumes bio et de de saison <a target="_blank" href="http://lesvilainsbruz.blogspot.fr/p/le-clos-renaud-venez-rencontrer-vos.html">du Clos Renaud</a> 
                        .profil
                            img.profile-img.img-circle(src="img/temp/yann.jpg")
                            span Yann
                        .infos(ng-hide="toggled")
                            .info-line
                                i.fa.fa-fw.fa-map-marker 
                                span.icon-label Place du recteur Henri le Moal, Rennes
                            .info-line
                                i.fa.fa-fw.fa-clock-o
                                span.icon-label  28 mars 2016 : 15h - 18h
                        hr.small-margin(ng-hide="toggled")
                        a.card-bottom-link(ng-click="toggled=!toggled", ng-hide="toggled")
                            i.fa.fa-eye
                            span.icon-label voir toutes les tournées de Yann
                        table.table.rounds-table(ng-if="toggled")
                            thead
                                tr
                                    td 
                                        i.fa.fa-fw.fa-map-marker
                                        span.icon-label Où
                                    td 
                                        i.fa.fa-fw.fa-clock-o
                                        span.icon-label Quand
                            tbody
                                tr(ng-click="vm.fly()")
                                    td Place du recteur Henri le Moal, Rennes
                                    td lundi : 15h - 18h
                                tr
                                    td ZAC Atalante Champeaux, Rennes
                                    td lundi : 18h - 20h
                                tr
                                    td Place de la Communauté, Rennes
                                    td samedi : 10h - 12h
                                tr
                                    td Place du Souvenir, Rennes
                                    td samedi : 12h - 14h
                                        
                        
                        
                    li.round-item
                        p  on vous propose des tomates,  salades et navets du jardin d'hippolyte
                        .profil
                            img.profile-img.img-circle(src="img/temp/cyril.jpg")
                            span Cyril l'artisan en herbes
                        .infos
                            .info-line
                                i.fa.fa-fw.fa-map-marker 
                                span.icon-label place de la Libération, Île-Saint-Denis
                            .info-line
                                i.fa.fa-fw.fa-clock-o
                                span.icon-label 5 mars 2015 : 12h - 15h
                        
                            
                            
                    li.round-item
                        p C'est pour qui les bons produits cueillis à la cueille d'Acigné: endives, patates, carottes!!
                        .profil
                            img.profile-img.img-circle(src="img/temp/alesc.jpg")
                            span Alexandre le cuisto vert
                        .infos
                            .info-line
                                i.fa.fa-fw.fa-map-marker 
                                span.icon-label parvis de la Gare, Rennes
                            .info-line
                                i.fa.fa-fw.fa-clock-o
                                span.icon-label 6 mars 2015 : 10h - 18h
                        
      
      
  
