round-map{
    min-height: 100vh;

    span.margin-left{
        text-transform: uppercase;
    }

    .partnership-link{
        font-size: 14px;
    }
    #map{
      height: 450px;
      border: 1px solid #ccc;
      h4{
          font-weight: bold;
          text-align: center;
      }
      p{
          text-align: center;
      }
      .popup-button{
          margin: 0 3px;
          font-size: 10px;
          color: #aaaaaa;
          text-transform: uppercase;
          background-color: transparent;
          border: 1px solid;
          font-weight: 300;
          padding: 5px;
          display: block;
          text-align: center;
          cursor:pointer;
          &:hover{
              border: 1px solid black;
              color: black;
          }
      }

      .city-popup{
          h4{
              font-size: 12px;
              margin: 0;
          }
          p{
              font-size: 10px;
              margin: 0;
          }
      }
    }
    h3.section-title{
        margin-bottom: 30px;
    }
    ul.list-rounds{
        list-style: none;
        li.round-item{
            background-color: #fff;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
            padding: 10px 10px;
            margin-top: 10px;
            p{
                border-radius: 5px;
                border: 1px solid #ddd;
                padding: 10px;
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    bottom: -20px;
                    left: 130px;
                    border-width: 20px 20px 0px 0px;
                    border-style: solid;
                    border-color: #ddd transparent;
                    display: block;
                    width: 0;
                }
                &:after {
                  content: "";
                  display: block; /* reduce the damage in FF3.0 */
                  position: absolute;
                  bottom: -18px;
                  left: 131px;
                  width: 0;
                  border-width: 18px 18px 0px 0px;
                  border-style: solid;
                   background-color: transparent;
                  border-color: #ffffff transparent;
                }
            }
            .profil{
                width:  30%;
                display: inline-block;
                text-align: center;
                img{
                    height : 40px;
                }
                span{
                    color: grey;
                    margin-top: 3px;
                    display: block;
                    font-size: 12px;
                }
            }
            .infos{
                display: inline-block;
                margin-left: 25%;
                @media (max-width:1200px){
                    margin-left: 50px;
                }
                .info-line{
                    margin: 10px 0px;
                }
                &:hover{
                    cursor: pointer;
                    color: #aaa;
                }
            }
            table.rounds-table{
                margin-bottom: 0px;
                margin-top: 15px;
                tbody tr:hover{
                    cursor: pointer;
                    color: #aaa;
                }
            }
        }
    }
}
