section#concept
    .container
        .intro
            h2 Le concept
            
            h3 Marchambul, c'est un réseau de mini-marchés ambulants en vélos qui a pour but de proposer des produits locaux et de saison.
            h3 Parce qu'il n'y a que des avantages à consommer des produits frais qui viennent d'à côté.
            
        img#down-arrow(src='img/concept/down.svg')    
        
        object#plaquette(type="image/svg+xml" data="img/concept/comparatif_distribution.svg") 
        
