section#concept
    .container
        .intro
            h2 Le concept
            
            h3 Marchambul, c'est un réseau de mini-marchés ambulant en vélos qui a pour but de s'installer dans les zones urbaines sans marché,
                | afin de proposer des produits locaux et de saison.
            
        img#down-arrow(src='img/concept/down.svg')    
        
        object#plaquette(type="image/svg+xml" data="img/concept/comparatif_distribution.svg") 
        
