@import '../config';

#concept{
    background-color: #fff;

    img {
        width: 100%;
    }

    img#down-arrow{
        @include desktop{
            height: 95px;
            margin: 20px 0 25px;
    	}
    	@include tablet{
            height: 70px;
            margin: 15px 0 20px;
    	}
    	@include mobile{
            height: 40px;
            margin: 10px 0 15px;
    	}


    }
}
