#logo-container
  img#logo(src="http://marchambul.com/img/marchambul.png")

#login-container
  #login
    .alert.alert-info(ng-if="!errors")
      h5 Inscrivez votre login et mot de passe
    .alert.alert-danger(ng-if="errors")
      h5(ng-repeat="error in errors") {{error}}

    form.form-horizontal(role='form' name="form" ng-submit="login()" novalidate)
      .form-group
        .col-sm-12
          .input-group
            span.input-group-addon
              span.fa.fa-user.fa-fw
            input.form-control(type='email', id="email", name="email", ng-model="user.email" placeholder="email")

      .form-group
        .col-sm-12
          .input-group
            span.input-group-addon
              span.fa.fa-key.fa-fw
            input.form-control(type='password', id="password", name="password", ng-model="user.password" placeholder="mot de passe")
        

      .form-group
        .col-sm-6
          button.btn.btn-primary(type='submit', id='submit') Connexion
        .col-sm-6.text-right
          a.btn.btn-default(ui-sref='register') S'inscrire
