#avantages
  .section-title
    h2 De nombreux avantages
  .container
    .row
      .col-sm-4.section-description
        img(src='img/services/local.png')
        h3 Local
        p
          | Mobileeeeeeeee dans la ville pour &ecirc;tre
          | au plus proche de chez vous, pas besoin de prendre sa voiture pour acheter local
      .col-sm-4.section-description
        img(src='img/services/durable.png')
        h3 Durable
        p
          | Un triporteur &eacute;lectrique, la
          | force du mollet pour rendre &agrave; la nature ce qu&apos;elle nous donne
      .col-sm-4.section-description
        img(src='img/services/pratique.png')
        h3 Pratique
        p
          | Pas besoin de r&eacute;server de paniers ou de s&apos;abonner, achetez vos fruits et l&eacute;gumes quand ca vous chante
    hr.section-divider
