#concept.container
  .section-title
    h2  Marchambul passe dans votre coin au bon moment
  .row.bd-marchambul
    .col-xs-12.col-md-6
      .thumbnail
        img(src='img/services/bd-01.jpg', alt='...')
    .col-xs-12.col-md-6
      .thumbnail
        img(src='img/services/bd-02.jpg', alt='...')
    .col-xs-12.col-md-6
      .thumbnail
        img(src='img/services/bd-03.jpg', alt='...')
    .col-xs-12.col-md-6
      .thumbnail
        img(src='img/services/bd-04.jpg', alt='...')
  hr.section-divider
  .section-title
    h2  Impossible de perdre la trace des Marchambuls 
    h4
      | Notre site web vous permet de localiser les triporteurs pr&egrave;s de chez vous, conna&icirc;tre la provenance des fruits et l&eacute;gumes du jour ainsi que consulter leur itin&eacute;raire
      h4
  #google-map
  #google-map-title.container
  hr.section-divider
