.container
  .section-title
    h2 Une &eacute;quipe &agrave; votre service
  .row
    .col-sm-4.section-description.people
      img(src='img/services/alex.png')
      h3 Alexandre Bastien
      p
        | Mangeur de navets depuis l&apos;&acirc;ge de 7 ans, Alexandre est ing&eacute;nieur sp&eacute;cialis&eacute; en d&eacute;veloppement durable.
    .col-sm-4.section-description.people
      img(src='img/services/yann.png')
      h3 Yann Girard
      p
        | Passionn&eacute; de carottes rap&eacute;es et ing&eacute;nieur en Design Industriel, Yann est sp&eacute;cialis&eacute; dans le design centr&eacute; sur l&rsquo;utilisateur.
    .col-sm-4.section-description.people
      img(src='img/services/cyril.png')
      h3 Cyril Mace
      p
        | Grand collectionneur de poireaux et ing&eacute;nieur en informatique, Cyril est sp&eacute;cialiste en d&eacute;veloppement web et applications smartphone
// /.container
// /.banner
