.pre-header
.intro-header
  .container
    .row
      .col-lg-12
        .intro-container
          h3.stat
            span.stats.highlight(data-toggle='tooltip', data-placement='top', title='source: http://alimentation.gouv.fr/circuit-court-local-consommation') 71%
            |  des francais pr&eacute;f&egrave;rent acheter des produits locaux mais seulement 
            span.stats.highlight(data-toggle='tooltip', data-placement='top', title='source: http://miramap.org/-Les-AMAP-.html') 0,3%
            |  font partie d&apos;une AMAP...
          h1 Comment d&eacute;mocratiser la consommation de produits locaux ?
          img(src='img/marchambul.png')
          hr.intro-divider.pre-slogan
          h3.slogan le march&eacute; ambulant qui se faufile partout
          a.button.btn-default.btn-lg.link-href(href='#concept') Comment &ccedil;a marche?
