$font-family-base: 'Open Sans';

//colors
$background_color: #fefaee;
$light_grey_text_color: #717171;
$light_white_intro_color: #f8f8f8;
$black_20: rgba(0,0,0,0.2);
$black_60: rgba(0,0,0,0.6);
$black_80: rgba(0,0,0,0.6);
$red: red;
$black: black;
$white: white;



//navbar
$navbar-padding-vertical: 0; $navbar-padding-horizontal:0;
$navbar-height: 90px;
$navbar-default-bg: rgba(255,255,255,0.6);
//$navbar-default-bg: rgba(0,0,0,0.05);
$navbar-default-color : $black;
$navbar-default-border: $black;


//Media queries variables
$tablet-width: 768px;
$desktop-width: 1024px;


@import 'scss/mixins.scss';
@import '../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins';
