@import '../config';

@media(max-width:1023px) {
    .add-if-space{
        display: none;
    }
}

@media(max-width:800px) {
    .hide-for-small-device{
        display: none !important;
    }
}

span.highlight{
    color:  darken(#EB9532, 5%);
    font-weight: bold;
}
.inherit-width{
    width: inherit !important;
    display: inline-block;
}


.no-padding{
    padding: 0;
}

.center{
    text-align: center;
}

.align-right{
    text-align: right;
}

.italic{
    font-style: italic;
}

.margin-left{
    margin-left: 5px;
}

.margin-bottom{
    margin-bottom: 10px;
}

.margin-top{
    margin-top: 10px;
}

hr.small-margin{
    margin-top: 10px;
    margin-bottom: 10px;
}

.icon-label{
    display: inline-block;
    position: absolute;
    margin-left: 7px;
    font-size: 1.4rem;
}

.card-bottom-link{
    color:  #aaaaaa;
    margin-bottom: 5px;
    cursor: pointer;
    &:hover{
        color: darken(#aaaaaa, 20%);
    }
}

.intro{

    padding-top: 20px;
    h2, h3{
        text-align: center;
    }
    h3{
        margin-bottom: 20px;
    }
}

.vendor-label{
    margin-left: 5px;
    font-weight: bold;
    margin-top: 0.4rem;
    font-size: 1.2rem;
}

.inline{
    display: inline-block;
}

.button-table{
    padding: 3px;
    border-radius: 3px;
}
