@import '../config';

$intro-color: $black_80;

#intro-container {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	color: $intro-color;
	background-image: url(/img/main.png);
	background-size: cover;
	height: calc(100vh - 50px);

	#intro-message {
		margin-left: 50%;
		margin-top: 200px;
		> {
			// main title : Pas de marché près de chez vous ?...
			h2 {
				margin: 0;
				font-size: 28px;
				font-weight: 300;
				margin-bottom: 30px;
				text-transform: none;
			}
			#intro-button{
				font-size: 26px;
				text-transform: uppercase;
				background-color: transparent;
				border: 1px solid $intro-color;
			    color: $intro-color;
				font-weight: 300;
			    padding: 12px;
				display: inline-block;

				span.angle-icon{
					transition: all 0.5s;
					opacity: 0;
					margin-top:-40px;
					text-align: center;
					display: block;
				}
				&:hover{
					background-color: rgba(255,255,255,0.2);
					font-weight: 400;
					span.angle-icon{
						opacity: 1;
						margin-top:-10px;
						margin-bottom:-10px;
					}
				}
			}
		}
	}
}




/*******************************
****** Media queries ***********
******************************/
@include mobile {
	.intro-header {
	  .intro-container > {
			h3.stat, h1 {
	    font-size: 2.2rem ;
	    padding-bottom: 20px;
			}
			h3.slogan{
				font-size: 1.6rem ;
			}
			img{
				width: 100%;
				max-width: 500px;
			}
		}
  }
}
