@import '../config';

$intro-color: $black_80;

#intro-container {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	color: $intro-color;
	background-size: cover;
	height: calc(100vh);
	@include desktop{
		background-image: url(../img/main_desktop.png);
	}
	@include tablet{
		background-image: url(../img/main_tablet.png);
	}
	@include mobile{
		background-image: url(../img/main_phone.png);
	}
}



#intro-message {
	@include desktop{margin-top: 20px;margin-left: 45%;max-width: 50%;}
	@include tablet{margin-top: 10px;margin-left: 50%;max-width: 50%;}
	@include mobile{
		margin-top: 10px;text-align: center;
        @include iphone5{
            margin-top: -20px;
        }
	}


	> {
		// main title : Pas de marché près de chez vous ?...
		h2 {
			margin: 0;
			@include desktop{font-size: 28px;}
			@include tablet{font-size: 24px;}
			@include mobile{font-size: 24px;}
			@include iphone5{font-size: 18px !important;}
			font-weight: 300;
			margin-bottom: 30px;
			text-transform: none;
		}
		.intro-button{
			@include desktop{font-size: 22px;}
			@include tablet{font-size: 20px;}
			@include mobile{font-size: 20px;}
			@include iphone5{font-size: 18px !important;}
			text-transform: uppercase;
			background-color: transparent;
			border: 2px solid #000;
			color: #000;
			font-weight: 400;
			padding: 8px 12px;
			margin: 10px;
			display: inline-block;

			span.angle-icon{
				transition: all 0.5s;
				opacity: 0;
				margin-top:-33px;
				@include iphone5{margin-top:-30px;}
				text-align: center;
				display: block;
			}
			&:hover{
				background-color: rgba(255,255,255,0.2);

				span.angle-icon{
					opacity: 1;
					margin-top:-10px;
					margin-bottom:-10px;
				}
			}
		}
	}
}




/*******************************
****** Media queries ***********
******************************/
@include mobile {
	.intro-header {
		.intro-container > {
			h3.stat, h1 {
				font-size: 2.2rem ;
				padding-bottom: 20px;
			}
			h3.slogan{
				font-size: 1.6rem ;
			}
			img{
				width: 100%;
				max-width: 500px;
			}
		}
	}
}
