@import '../config';

.navbar{
    border-bottom: 1px solid #ccc;
    ;
    @include desktop{margin-bottom: 0px;}
	@include tablet{margin-bottom: -10px;}
	@include mobile{
        display:none;margin-bottom: -10px;
    }
}

.navbar-default .navbar-toggle{
    border: none;
    background-color: transparent !important;
    &:hover{

        span.icon-bar{
            background-color: black;
        }

    }
}

.navbar-brand {
    color: $white !important;
    font-weight: 400;
    img{
        display: inline-block;
        height: 50px;
    }
    h1.slogan{
        display: inline-block;
        text-transform: uppercase;
        font-size: 16px;
        margin: 10px;
        color:  rgba(0,0,0,0.6);
        vertical-align: sub;

            &.motion{
                //transition
                margin-left:150px;
                opacity: 0;

                transition: all 1s;
                &.loaded{
                    margin-left:0px;
                    opacity: 1;
                }
            }


    }
}

.navbar-button {
    line-height: $navbar-height;
    margin: 0 3px;
    font-size: 20px;
    text-transform: uppercase;
    color:  rgba(0,0,0,0.6);
    &:hover{
        color: black;
    }
}
