#account-view
  #wrapper
    #sidebar-wrapper
      ul.sidebar-nav
        li(ui-sref-active="active")
          a(ui-sref="account.rounds") Tournées
        li(ui-sref-active="active")
          a(ui-sref="account.sales") Ventes
    #page-content-wrapper
      .container-fluid
        .row(ui-view="")
